<body id="dark">
    <header class="dark-bb">
      <nav class="navbar navbar-expand-lg">
        <a class="navbar-brand" href="/"><img src="assets/img/logo-light.svg" alt="logo"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#headerMenu"
          aria-controls="headerMenu" aria-expanded="false" aria-label="Toggle navigation">
          <i class="icon ion-md-menu"></i>
        </button>
  
        <div class="collapse navbar-collapse" id="headerMenu">
         <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                  <a class="nav-link" href="/exchange?asset=BTC" role="button"  aria-haspopup="true" aria-expanded="false">
                    Exchange
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/indices" role="button"  aria-haspopup="true" aria-expanded="false">
                    Indices (Markets)
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/heatmap" role="button" aria-haspopup="true" aria-expanded="false">
                    Heatmap
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/deposit" role="button" aria-haspopup="true" aria-expanded="false">
                    Deposit Funds
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/wallet" role="button" aria-haspopup="true" aria-expanded="false">
                    Wallet
                  </a>
                </li>
         </ul>
          <ul class="navbar-nav ml-auto">
            <li class="nav-item header-custom-icon">
              <a class="nav-link" href="/wallet">
                <% if (typeof wallet_bal != "undefined") { %>
                  <span>
                    Wallet Balance: <b class="text-success">$</b><%= wallet_bal %>&nbsp;<img style="visibility:hidden;" src="assets/img/icon/usdt.png" width="20" height="20">
                  </span>
                <% } %>
              </a>
            </li>
            <% if (typeof stateLevel1 != "undefined" && typeof stateLevel2 != "undefined") { %>
              <li class="nav-item header-custom-icon">
                <a class="nav-link">
                  <% if(stateLevel1 == "YES" && stateLevel2 == "NO" || stateLevel2 == "PENDING") { %>
                      <span>
                        <i class="icon ion-md-checkmark-circle-outline green">KYC VERIFIED : LEVEL 1</i>
                      </span>   
                  <% } else if(stateLevel2 == "YES" && stateLevel1 == "YES") {%>
                      <span>
                        <i class="icon ion-md-checkmark-circle-outline green">KYC VERIFIED : LEVEL 2</i>
                      </span> 
                  <% } else{ %>
                    <span>
                      <i class="icon ion-md-checkmark-circle-outline red">KYC VERIFIED : NONE</i>
                    </span> 
                  <% } %>
                </a>
              </li>
           <% } %>
            <li class="nav-item header-custom-icon">
              <a class="nav-link" href="#" id="clickFullscreen">
                <i class="icon ion-md-expand"></i>
              </a>
            </li>
            <li class="nav-item dropdown header-img-icon">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false">
                <img src="assets/img/avatar.svg" alt="avatar">
              </a>
              <div class="dropdown-menu">
                <div class="dropdown-header d-flex flex-column align-items-center">
                  <div class="figure mb-3">
                    <img src="assets/img/avatar.svg" alt="">
                  </div>
                  <div class="info text-center">
                    <p class="name font-weight-bold mb-0">
                      <% if (typeof name != "undefined") { %>
                        <%= name %>
                      <% } %> 
                    </p>
                    <p class="email text-muted mb-3">
                      <% if (typeof email != "undefined") { %>
                        <%= email %>
                      <% } %>
                    </p>
                  </div>
                </div>
                <div class="dropdown-body">
                  <ul class="profile-nav">
                    <li class="nav-item">
                      <a href="/settings" class="nav-link">
                        <i class="icon ion-md-settings"></i>
                        <span>Settings</span>
                      </a>
                    </li>
                    <li class="nav-item">
                      <a href="/logout" class="nav-link red">
                        <i class="icon ion-md-power"></i>
                        <span>Log Out</span>
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </nav>
    </header>