<%- include('./partials/header.ejs') %>

<%- include('./partials/authenticated-menu.ejs') %>

  <div class="settings mtb15 m-5">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12 col-lg-12">
          <div class="tab-content" id="v-pills-tabContent">
            <div class="tab-pane fade show active" id="settings-wallet" role="tabpanel" aria-labelledby="settings-wallet-tab">
              <div class="wallet">
                <div class="row">
                  <div class="col-md-12 col-lg-12">
                    <div class="tab-content">
                      <div class="tab-pane fade show active" id="coinETH" role="tabpanel">
                        <div class="card">
                          <div class="card-body">
                            <div align="center">
                              <img src="assets/img/icon/9.png" alt="bnb" width="50" height="50"><br/><br/>
                              <div>
                                <h2>BINANCE SMART CHAIN</h2>
                                <p>MAINNET</p>
                              </div>
                            </div> <br/> 
                            <h5 class="card-title">USDT (BEP20) Deposit Address</h5>
                            <div class="row wallet-address">
                              <div class="col-md-2" style="align-content: center;">
                                <img src="assets/img/qr-code-light.svg" alt="qr-code">
                              </div>
                              <div class="col-md-10">
                                <p>
                                    <ol style="color: white; list-style-type: circle;">
                                        <li>Only deposit <b>USDT (BEP20 Version)</b> to this address.</li>
                                        <li>Coins other than <b>USDT</b> will be lost.</li>
                                        <li>Double check the address or QR code before depositing any amount.</li>
                                    </ol>
                                </p>
                                <div class="input-group">
                                  <% if(typeof address != undefined) { %>
                                  <input type="text" id="ethAddress" class="form-control" disabled value=<%= address %>>
                                  <% } %>
                                  <div class="input-group-prepend">
                                    <button class="btn btn-primary">COPY</button>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="card">
                          <div class="card-body">
                            <h5 class="card-title">Transactions</h5>
                            <div class="wallet-history">
                              <table class="table">
                                <thead>
                                  <tr>
                                    <th>No.</th>
                                    <th>Date</th>
                                    <th>Status</th>
                                    <th>Amount</th>
                                  </tr>
                                </thead>
                                <tbody>
                                  <tr>
                                    <td>1</td>
                                    <td>25-04-2019</td>
                                    <td><i class="icon ion-md-checkmark-circle-outline green"></i></td>
                                    <td>4.5454334</td>
                                  </tr>
                                </tbody>
                              </table>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <%- include('./partials/scripts.ejs') %>
  
</body>

</html>