<%- include('./partials/header.ejs') %>

<%- include('./partials/authenticated-menu.ejs') %>

<div class="vh-100 d-flex justify-content-center">
  <div class="form-access my-auto">
    <% if (typeof stateLevel2 != "undefined") { %>
      <% if (stateLevel2 == "PENDING") { %>
        <form>
          <span>KYC Status:&nbsp;<%= stateLevel2 %></span>
        </form>
      <% } %>
      <% if (stateLevel2 == "NO") { %>
        <% if(KYCtries >= 3) { %>
          <form>
            <span>Locked for 3 Hours</span>
          </form>
        <% } else {%>
        <div id="kycRes" style="display: all;">

        </div>
        <form id="kycForm" method="post" enctype="multipart/form-data">
          <span>KYC</span>
          <div class="form-group">
            <h2>Status: Not Applied</h2>
            <label for="file">Upload Documents:</label>
            <input 
            type="file" 
            class="form-control" 
            name="docs[]"
            id="docs" 
            accept="image/jpeg, image/jpg, image/png" 
            required>
          </div>
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
        <% } %>
      <% } %>
      <% if(stateLevel2 == "YES") { %>
        <script type="text/javascript">
            window.location.assign("/exchange?asset=BTC");
        </script>
      <% } %>
    <% } %>
  </div>
</div>

<script src="https://www.google.com/recaptcha/api.js"></script>
  
  <%- include('./partials/scripts.ejs') %>

  <script src="assets/js/ajax/kyc2.js"></script>
  
</body>

</html>