<%- include('./partials/header.ejs') %>

<%- include('./partials/authenticated-menu.ejs') %>
  
  <div class="settings mtb15">
    <div class="container-fluid">
      <div class="row justify-content-center">
        <div class="col-md-6 col-lg-6">
          <div class="tab-content" id="v-pills-tabContent">
            <div class="tab-pane fade show active" id="settings-profile" role="tabpanel" aria-labelledby="settings-profile-tab">
              <div id="mobRes" style="display: all;">
              </div>
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">General Information</h5>
                  <div class="settings-profile">
                    <form method="post" id="updateMOB">
                      <div class="form-row">
                        <div class="col-md-12">
                          <label for="phoneNumber">Mobile No.</label>
                          <input id="mobileNumber" name="mobile" type="text" class="form-control" placeholder="Enter Mobile number">
                        </div>
                        <div class="col-md-8">
                          <input type="submit" value="Update">
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
              <div id="passRes" style="display: all;">
              </div>
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">Security Information</h5>
                  <div class="settings-profile">
                    <form method="post" id="updatePASS">
                      <div class="form-row">
                        <div class="col-md-12">
                          <label for="currentPass">Current password</label>
                          <input id="currentPass" name="currentPass" type="text" class="form-control" placeholder="Enter your password">
                        </div>
                        <div class="col-md-12">
                          <label for="currentPass">New password</label>
                          <input id="newPass" name="newPass" type="text" class="form-control" placeholder="Enter your password">
                        </div>
                        <div class="col-md-12">
                          <label for="newPass">Confirm password</label>
                          <input id="newPass2" name="newPass2" type="text" class="form-control" placeholder="Enter new password">
                        </div>
                        <br/>
                        <div class="col-md-12">
                          <input type="submit" value="Update">
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <%- include('./partials/scripts.ejs') %>

  <script src="assets/js/ajax/updateMOB.js"></script>
  <script src="assets/js/ajax/updatePASS.js"></script>
  
</body>

</html>